
    body{
        background-color:rgb(22, 36, 63);
        text-align: center;
      }
      
      h1{
        color:rgb(78, 23, 23);
        text-align: center;
      
      }
          form{
            text-align: center;
            color:rgb(226, 191, 191);
          }

          label,button{
            font-size: 20px;
            color: rgb(158, 40, 40);
            text-align: center;
            width: 90%;
          
          }
          h1{
            font-family: 'Courier New', Courier, monospace;
            color:aqua;
            text-align: center;

          }
          input{
            font-size: 25px;
            color: rgb(15, 7, 7);
            width: 90%;
          }
p{
  text-align: center;
}


  #botoes{
    width: 40%;
  }

hr{
  width: 90%;
}

div {
  background-color: rgb(13, 83, 83);
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 15px;
  border-style: solid;
  border-color: black;
  padding: 10px;

}
      